body {
    background-color: hsl(39, 6%, 83%);
}

h1.brand {
    color: rgb(12, 37, 134);
}

h1.brand span {
    color: #d69e36;
}

.menu > li > a {
    color: rgb(134, 12, 110);
}

.menu > li > a > span {
    color: red;
}

[data-role="dropdown"] {
    background-color: hsl(39, 21%, 73%);
}

[data-role="dropdown"] a > span {
    color: rgb(14, 86, 96);
}

.blabla + li {
    background-color: purple;
}

.content * {
    color: darkcyan;
}










